<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.brainslam"
    android:versionCode="1"
    android:versionName="1.9" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <!-- Required if we need to invalidate access tokens -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Accessing camera hardware -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
      
   <meta-data

    android:name="com.google.android.gms.version"
    android:value="@integer/google_play_services_version" />


        <!--
        <activity
            android:name="com.android.brainslam.LoginActivity"
            android:label="@string/app_name" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.android.brainslam.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >

            <!-- android:screenOrientation="landscape" -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.brainslam.LoginScreenActivity"
            android:label="@string/title_activity_login_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.VideoDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tnex.co.in"
                    android:scheme="BrainSlam" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.brainslam.PlaylistActionBar"
            android:label="@string/title_activity_playlist__action_bar"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.UserPlaylistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.PlaylistActivity"
            android:label="@string/title_activity_playlist__screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.Playlist_Listview"
            android:label="@string/title_activity_playlist__listview"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.PopupAdded"
            android:label="@string/title_activity_popup__added"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.Video_Rating_Screen"
            android:label="@string/title_activity_video__rating__screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.SendMessageActivity"
            android:label="@string/title_activity_send_message"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.videoPlayer.BrainSlamVideoPlayer"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.Message_ReadingActivity"
            android:label="@string/title_activity_message__reading"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.Playlistitems"
            android:label="@string/title_activity_playlist_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.VideoRatingActivity"
            android:label="@string/title_activity_video_rating"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!--
        <activity

            android:name="com.android.brainslam.UploadDetailsActivity"
            android:label="@string/title_activity_upload_details" >

        </activity>
        -->
        <!-- android:launchMode="singleInstance" -->
        <activity
            android:name="com.android.brainslam.LandingActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/title_activity_video_rating"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.android.brainslam.mainscreen.BrainSlamMainScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.brainslam.camera.CameraViewActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name="com.android.brainslam.camera.StartCameraActivity" />
        <!--
        <activity
            android:name="com.android.brainslam.SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        -->
        <activity
            android:name="com.android.brainslam.UpdateTwitterStatusActivity"
            android:label="@string/title_activity_update_twitter_status" >
        </activity>
        <activity
            android:name="com.android.brainslam.DescriptionActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.MyFriends"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.brainslam.CreateNewCrewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.android.brainslam.EditStreamingActivity"
            android:label="@string/title_activity_edit_streaming" >
        </activity>
        <activity
            android:name="com.android.brainslam.MyAccountActivity"
            android:label="@string/title_activity_my_account" >
        </activity>
        <activity
            android:name="com.android.brainslam.FriendNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.BrainSlamMainActivity"
            android:label="@string/title_activity_playlist__screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tnex.co.in"
                    android:scheme="BrainSlam" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.brainslam.SharingCircularDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.MainStreamSearchResults"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.camera.NewcaptureActivty"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
         <activity
            android:name="com.android.brainslam.ScreencaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.ScreenCapturedEdit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.mainscreen.BrainSlamToggleMenu"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.Continue"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.ComposeNewMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.Share_Googleplus_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <!--
        <activity
            android:name="com.android.brainslam.VideoDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        -->
        <activity
            android:name="com.android.brainslam.UploadDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.MessagesSectionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.AddOrDeleteCrewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.MainStreamSort"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.MainPlaylistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.android.brainslam.ListOfRequests"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        
    </application>

</manifest>